$font_1: "Raleway", sans-serif;
$font_size_base: 1.6rem;

$white: #fff;
$black: #000;

$accept: #6F1EAA;

$color_text_base: $black;
$color-hover: $black;

$body_bg: $white;
$body_bg_second: #FEF7E5;


$page_width: 192rem;
